.title{
  font-family: "微软雅黑";
  font-size: 22px;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #DBDBDB;
  line-height: 80px;
  margin:0 30px;
}
.Countdown{
  margin:0px 80px;
  height:70px;
}
.time{
  padding-left: 20px;
  float: left;
  border-left: 1px solid #C4C4C4;
  height:40px;
  line-height: 20px;
  margin:10px 20px;
}
.requirements{
  margin:5px 66px;
  height:46%;
}
.retitle{
  background:#98BDEA;
  height:50px;
  line-height: 50px;
  text-align: left;
  text-indent: 5px;
  color:#ffffff;
  font-size: 18px;
}
.perimginfo{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height:175px;
  margin-bottom: 10px;
  justify-content: center;
}
.perbj{
  width:120px;
  height:140px;
  background: #EAEAEA;
  border:1px solid #FDFDFD;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  background: #E3E3E3;
  color:#9B9B9B;
  font-size: 21px;
  width: 60%;
  height: 40px;
  display: block;
  margin: 20px auto;
}
.info{
  border-bottom:1px solid #E3E3E3;
  margin:5px 20px;
  height:40px;
  line-height:40px;
  text-indent: 20px;
}
.djstime{
  text-align:center;
  color:#000;
  font-size:16px;
  padding-top:30px;
}
.percontrast{
  color:#CBCBCB;
  font-size:14px;
  text-align:center;
}
